<article>
    <section class="api__documentation" id="{{anchor}}">
        <h1 class="api__documentation__title">{{displayName}}</h1>
        <p class="api__documentation__text">
            {% autoescape false %} {{description}} {% endautoescape %}
        </p>
    </section>
    <section class="api__example api__example--place-holder">
        <!--
        <p class="place-holder place-holder--title">example screen</p>

        <p class="place-holder place-holder--text">No examples are available on this section</p>

        <p class="place-holder place-holder--text">Navigate to any service to show its associated examples</p>
        -->
    </section>
</article>