<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/api-market.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="api-documentation.js"></script>
</head>
<body>
    <div class="container">
        <div class="genoa-heading">

        </div>
        <div class="genoa-content small-footer">
            <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-journal-content api-documentation">
                <div id="header">
                    <div class="size-controls">
                        <ul class="size-controls__options">
                            <li class="size-controls__option"><a class="size-controls__option--overview size-controls__option--resize" data-action="overview" href="{{overview_link}}">Overview</a></li>
                            <li class="size-controls__option"><a class="size-controls__option--overview size-controls__option--console" data-action="switch-to-console" href="{{console_link}}">Switch to console</a></li>
                            <li><span class="resizer"><i class="resizer__arrow"></i></span></li>
                        </ul>
                        <div class="language-controls__options" data-element="language-selector">
                            <span class="language-controls__help">SELECT THE PROGRAMING LANGUAGE</span>
                            <ul class="language-controls__list" data-list="language-list">
                                <li class="language-controls--selected language-controls__item"><span class="language-controls--selected--text">JAVA</span>
                                    <ul class="language-control__items">
                                        <li class="language-controls__item" data-item="language-curl">CURL</li>
                                        <li class="language-controls__item item-selected" data-item="language-java">JAVA</li>
                                        <li class="language-controls__item" data-item="language-python">PYTHON</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="sidebar">
                    <div id="nav-anchor">&nbsp;</div>
                    <h1 class="nav__title"><a data-link="get-api" href="/group/api_market/get-api?api={{get_api_link}}">Get API</a></h1>
                    <div class="nav-wrapper-scroll">
                        <nav class="nav">
                            <ul class="nav__list" data-list="documentation-index">
                                <!--TODO-->
                                <li class="nav__list__item"><a class="nav__list__link nav__list__link--active" href="#api_information">API Information</a>
                                    <ul class="nav__list nav__list--sub-list">
                                        {% for item in documentation %}
                                        <li class="nav__list__item">
                                            <a class="nav__list__link" href="#{{item['title']}}">{{item['title']}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% for item in resources %}
                                <li class="nav__list__item"><a class="nav__list__link nav__list__link" href="#{{item['relativeUri']}}">{{item['relativeUri']}}</a>
                                    <ul class="nav__list nav__list--sub-list">
                                        {% for resource in item['resources']%}
                                            {% if resource['resources'] %}
                                            <li class="nav__list__item">
                                                <a class="nav__list__link" href="#{{resource['relativeUri']}}">{{resource['relativeUri']}}</a>
                                            </li>
                                            {% endif %}
                                            {% for subresource in resource['resources']%}
                                            <li class="nav__list__item">
                                                <a class="nav__list__link" href="#{{resource['relativeUri']}}-{{subresource['relativeUri']}}">{{resource['relativeUri']}}{{subresource['relativeUri']}}</a>
                                            </li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for method in item['methods'] %}
                                        <li class="nav__list__item">
                                            <a class="nav__list__link" href="#{{item['relativeUri']}}-{{method['method']}}">{{method['method']}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="api-doc">
                    <section class="api-doc__section">
                        <article>
                            <section class="api__documentation" id="api_information">
                            </section>

                            <section class="api__example api__example--place-holder">
                                <p class="place-holder place-holder--title">example screen</p>

                                <p class="place-holder place-holder--text">No examples are available on this section</p>

                                <p class="place-holder place-holder--text">Navigate to any service to show its associated examples</p>
                            </section>
                        </article>
                        {% for item in documentation %}
                        <article>
                            <section class="api__documentation" id="{{item['title']}}">
                                <article>
                                    <div class="api__documentation__subtitle">
                                        <h3 class="api__documentation__title">{{item['title']}}</h3>
                                        <p class="api__documentation__text">
                                            {% markdown %}
                                                {{item['content']}}
                                            {% endmarkdown %}
                                        </p>
                                    </div>
                                </article>
                            </section>
                            <section class="api__example">
                            </section>
                        </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>